<div class="brand-block">
    <a class="brand-link" href="">G8 POS Demo</a>
    <span class="brand-subtitle">前台 / 後台</span>
</div>

<nav class="nav-menu">
    <NavLink class="nav-item-link" href="" Match="NavLinkMatch.All">前台點餐</NavLink>
    <NavLink class="nav-item-link" href="admin/products">後台商品</NavLink>
    <NavLink class="nav-item-link" href="admin/categories">後台分類</NavLink>
    <NavLink class="nav-item-link" href="admin/reports">後台報表</NavLink>
</nav>
